<% if(page && page != "0"){ %>
<br/>
<br/>
<div>
<span class="c-1">Create New Simulation</span> | 
<span class="c-2">Add Teams</span> | 
<span class="c-3">Add Resources</span> |
<span class="c-4">Resource ACL</span> |
<span class="c-5">Add Metrics</span> |
<span class="c-6">Metric ACL</span> |
<span class="c-7">Add Events</span> |
<span class="c-8">Event ACL</span> |
<span class="c-9">Add Effects</span> |
</div>

<style>
	.c-<%= page %>{
		font-weight: bold;
	}
</style>

<% } %>