<h1>Create New Simulation</h1>

<form id="newSimulation" >
	<label for="name">Simulation Name:</label>
	<input type="text" id="name"></input>
	<br/>
	<label for="startDate">Start Date:</label>
	<input type="text" id="startDate"></input>
	<br/>
	<label for="endDate">End Date:</label>
	<input type="text" id="endDate"></input>
	<br/>
	<label for="description">Simulaton Description:</label>
	<textarea id="description"></textarea>
	<br/>
	<label for="simStartDate">Simulated Start Date:</label>
	<input type="text" id="simStartDate"></input>
	<br/>
	<label for="simEndDate">Simulated End Date:</label>
	<input type="text" id="simEndDate"></input>
	<br/>
	<label for="numTicks">Number of Ticks in Simulation:</label>
	<input type="text" id="numTicks"></input>
	<br/>
	<input type="button" id="submit" value="Create" onclick="return checkFields();" ></input>
</form>

Note: Simulations will be run using ticks instead of real time. This allows you to select how many ticks your simulation is broken up into it. Each of these ticks is an opportunity for the simulation engine to spawn events, check effects, etc. 


<script>

	function checkFields()
	{
		var name = $('#name').val();
		var startDate = $('#startDate').val();
		var endDate = $('#endDate').val();
		var description = $('#description').val();
		var simStartDate = $('#simStartDate').val();
		var simEndDate = $('#simEndDate').val();
		var numTicks = $('#numTicks').val();
		
		//check for required fields
		if (!name)
		{
			alert("Simulation name required");
			return false;
		}
		
		if (!startDate)
		{
			alert("Simulation start date required");
			return false;
		}
		
		if (!endDate)
		{
			alert("Simulation end date required");
			return false;
		}
		
		if (!description)
		{
			alert("Description of simulation required");
			return false;
		}
		
		if (!simStartDate)
		{
			alert("Simulated start date required");
			return false;
		}
		
		if (!simEndDate)
		{
			alert("Simulated end date required");
			return false;
		}
		
		if (!numTicks)
		{
			alert("Number of ticks for simulation required");
			return false;
		}
		
		

		$.post('/addNewSimulation', {
			name: name,
			startDate: startDate,
			endDate: endDate,
			description: description,
			simulatedStartTime: simStartDate,
			simulatedEndTime: simEndDate,
			numTicks: numTicks,
			completed: false
		}, function(data, status, jqxhr)
			{
				window.location = '/viewTeams/' + data.simulationId;
			});
	}

        $(function() {
            $('#startDate, #endDate, #simStartDate, #simEndDate').datetimepicker({
				controlType: 'select',
				oneLine: true,
				timeFormat: 'hh:mm tt'
			});
        });

</script>