body {
	background-color: #87CEFA;
	padding-left: 20px;
	padding-top: 20px;
}

.builderInput form  { display: table;      }
.builderInput p     { display: table-row;  }
.builderInput label { 
	display: table-cell;
	text-align: right;
	padding-right: 10px;
}
.builderInput input { 
	display: table-cell;
}
.builderInput {
	display: table-cell;
}

.builderInput textarea{display: table-cell;
width: 136px;}

.acl-table {
	/*border: solid 1px #DDEEEE;*/
	border-collapse: collapse;
	border-spacing: 0;
	font: normal 13px Arial, sans-serif;
}

/*.acl-table th {
	background-color: #87CEEB;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
}*/

.acl-table td {
	border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.acl-table tr:nth-child(odd) {
    background-color: #E0FFFF;
}
.acl-table tr:nth-child(even) {
    background-color: #B0E0E6;
}
.acl-table td:nth-child(even) {
    border-right: solid 2px #BBBBBB;
}
.acl-table th:nth-child(even) {
    /*border-right: solid 2px #BBBBBB;*/
}

.acl-table th.rotate {
  /* Something you can count on */
  height: 140px;
  white-space: nowrap;
  background-color: #87CEFA;
}

.acl-table th.rotate > div {
  transform: 
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    rotate(315deg);
  width: 30px;
}
.acl-table th.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
.acl-table th.rotate:nth-child(even) > div > span {
  border-bottom: solid 2px #BBBBBB;
  padding: 5px 10px;
}


.data-table {
	border: solid 1px #DDEEEE;
	border-collapse: collapse;
	border-spacing: 0;
	font: normal 13px Arial, sans-serif;
}

.data-table th {
	background-color: #87CEEB;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 10px;
    text-align: left;
}

.data-table td {
	border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px;
    text-shadow: 1px 1px 1px #fff;
}

.data-table tr:nth-child(odd) {
    background-color: #E0FFFF;
}
.data-table tr:nth-child(even) {
    background-color: #B0E0E6;
}